@media screen and (max-width:700px) {
    #s img{
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        width: 300px;
        height: 500px;
        justify-content: center;
        left: 10%;
    }
    #c img{
        display: none;
    }
    
    .sound-picker{
        display: none;
    }
    .time-select{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }
   .player-container .play,
   .player-container .pause{
        bottom: 0%;
        padding:10px 10px;
    }
    img.play ,
    img.pause
    {
        bottom: 100px;
        
    }
    img.play{
        left: 20px;

    }
    footer{
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width:1600px) {
    footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}